.mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-toolbar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem !important;
  color:white;
  text-decoration: none;
}

.mat-toolbar .toolbar-title {
  flex: 1;
  text-align: center;
}
.mat-toolbar .buttons {
  display: flex;
  align-items: center;
}

.color-light-blue {
  color: #00b2ce !important;
}

.bg-light-blue {
  background: #00b2ce !important;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.flex-item {
  flex: 1 1 0;
}

@media (max-width: 400px) {
  .flex-item {
    flex: 1 1 100%;
    min-height: 500px;
  }
}
