<!--
/**
 * @author Ahmad Tarkmani
 * @contact Tarkmani@sheridancollge.ca
 * @date 2024-07-20
 */
 -->


<mat-toolbar color="primary" class="mat-toolbar">
  <span class="toolbar-title">Popular Web Frameworks</span>
  <div class="buttons">
    <mat-button-toggle-group [(ngModel)]="chartType" aria-label="Font Style">
      <mat-button-toggle value="bar">Bar</mat-button-toggle>
      <mat-button-toggle value="pie">Pie</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-icon-button class="color-light-blue" (click)="openDialog()">
      <mat-icon>error_outline</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="flex-container">
  <div class="flex-item">
    <p>
      Most used web frameworks or technologies among developers worldwide. 2023
    </p>
    <ul>
      <li>Source <a
        href="https://survey.stackoverflow.co/2023/#section-most-popular-technologies-web-frameworks-and-technologies">stackoverflow</a>
      </li>
      <li># Of Respondents: 71,802</li>
    </ul>
    <mat-table [dataSource]="frameworks" class="alternating-rows">
      <ng-container matColumnDef="framework">
        <mat-header-cell *matHeaderCellDef class="custom-header-cell center-content"> Framework</mat-header-cell>
        <mat-cell *matCellDef="let element" class="custom-cell"> {{ element.framework }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="percent">
        <mat-header-cell *matHeaderCellDef class="custom-header-cell center-content"> Percent</mat-header-cell>
        <mat-cell *matCellDef="let element" class="custom-cell"> {{ element.percent }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></mat-row>
    </mat-table>

  </div>
  <div class="flex-item">
    <canvas baseChart
            [type]="chartType"
            [data]="chartData"
            [options]="chartOptions"
    >
    </canvas>
  </div>
</div>

<mat-toolbar color="primary" class="mat-toolbar bg-light-blue">
  <mat-icon>mail_outline</mat-icon>
  <a href="mailto:Tarkmani@sheridancollge.ca" class="mail-link">
    Ahmad Tarkmani
  </a>
</mat-toolbar>
