.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.custom-header-cell {
  padding: 0 6px !important;
}

.custom-cell {
  padding: 0 6px !important;
}

.mat-header-row {
  background-color: #eee;
  text-align: center !important;
  font-weight: bold;
}

.alternating-rows .mat-row:nth-child(odd) {
  background-color: #f6f6f6;
}

.alternating-rows .mat-row:nth-child(even) {
  background-color: white;
}

.mat-mdc-row,
.mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
