<mat-table [dataSource]="frameworks" class="alternating-rows" >
  <ng-container matColumnDef="framework">
    <mat-header-cell *matHeaderCellDef class="custom-header-cell center-content"> Framework</mat-header-cell>
    <mat-cell *matCellDef="let element" class="custom-cell"> {{ element.framework }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="percent">
    <mat-header-cell *matHeaderCellDef class="custom-header-cell center-content"> Percent</mat-header-cell>
    <mat-cell *matCellDef="let element" class="custom-cell"> {{ element.percent }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></mat-row>
</mat-table>
