<h2 mat-dialog-title>About</h2>
<mat-dialog-content>
  <p>
    This app is developed by Angular framework and Angular Material, version 17. It shows the statistics of the most
    popular web development frameworks, conducted by StackOverflow community. year 2023, and use Chart-js to draw the
    hart.
  </p>
  <div class="about-mail-section">
    <mat-icon>mail_outline</mat-icon>
    <a href="mailto:Tarkmani@sheridancollge.ca">Song Ho Ahn</a>
  </div>
  <div class="about-close-btn">
  <button mat-flat-button color="primary" class="bg-light-blue" (click)="closeDialog()">
    CLOSE
  </button>
  </div>
</mat-dialog-content>
